.skill-card {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    padding: 20px;
    width: 15em;
    background-color: #FFF;
    cursor: pointer;
    border-radius: 16px;

    filter: drop-shadow(.5px 1px 1px hsla(0, 0%, 55%, 0.15)) drop-shadow(1px 2px 2px hsla(0, 0%, 55%, 0.15)) drop-shadow(2px 4px 4px hsla(0, 0%, 55%, 0.15)) drop-shadow(4px 8px 8px hsla(0, 0%, 55%, 0.15)) drop-shadow(8px 16px 16px hsl(285deg 40% 40% / .15));
}

.skill-card:hover {
    box-shadow: 0 14px 28px rgba(232, 232, 232, 0.25), 0 10px 10px rgba(241, 241, 241, 0.22);
}

.skill-card:hover .skill-card__header {
    height: 100px;
}

.skill-card:hover .skill-card__header .skill-card__icon {
    transform: translateX(-50%) translateY(-50%) scale(3);
}

.skill-card:hover .skill-card__body {
    height: 130px;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li {
    transform: translateX(0);
    transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
    transition-duration: .5s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(1) {
    transition-delay: 0.25s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(2) {
    transition-delay: 0.5s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(3) {
    transition-delay: 0.75s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(4) {
    transition-delay: 1s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(5) {
    transition-delay: 1.25s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(6) {
    transition-delay: 1.5s;
}

.skill-card .skill-card__header {
    position: relative;
    height: 170px;
    margin: -20px -20px 20px -20px;
    transition: height .5s;
    overflow: hidden;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.skill-card .skill-card__header .skill-card__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    width: 128px;
    height: 128px;
    transition: transform .5s;
}

.skill-card .skill-card__body {
    height: 60px;
    transition: height .5s;
    overflow: hidden;
    line-height: 1;
}

.skill-card .skill-card__body .skill-card__title {
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
}

.skill-card .skill-card__body .skill-card__duration {
    color: #9E9E9E;
    font-style: italic;
}

.skill-card .skill-card__body .skill-card__knowledge {
    margin-top: 10px;
    color: #424242;
}

.skill-card .skill-card__body .skill-card__knowledge li {
    margin-top: 5px;
    transition-duration: 0;
    transition-delay: .5s;
    transform: translateX(-100%);
}